In [ ]:
#4.1) Pandas DataSeries:
#i)Write a Pandas program to create and display a one-dimensional array-like object
#containing an array of data using Pandas module.

import pandas as pd

# Create a Pandas Series
data = pd.Series([1, "2", 3, 4, 5], index=['a', 'b', 'c', 'd', 'e'])

# Display the Pandas Series
print(data)

a    1
b    2
c    3
d    4
e    5
dtype: object

In [ ]:
#ii) Convert Pandas Series to Python List and its Type

import pandas as pd

# Create a Pandas Series
data = pd.Series([1, 2, 3, 4, 5], index=['a', 'b', 'c', 'd', 'e'])

# Convert Pandas Series to Python List
list_data = data.tolist()

# Print the list
print("List:", list_data)

# Print the type of list
print("Type of list:", type(list_data))

# Convert Pandas Series index and values to Python List
list_index = data.index.tolist()
list_values = data.values.tolist()

# Print the lists
print("List of Index:", list_index)
print("List of Values:", list_values)

List: [1, 2, 3, 4, 5]
Type of list: <class 'list'>
List of Index: ['a', 'b', 'c', 'd', 'e']
List of Values: [1, 2, 3, 4, 5]

In [ ]:
#4.2) Pandas DataFrames:
#Consider Sample Python dictionary data and list labels:
#exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily','Michael',
#'Matthew', 'Laura', 'Kevin', 'Jonas'],
#'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
#'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
#'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
#labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
#i)Write a Pandas program to create and display a DataFrame from a specified dictionary
#data which has the index labels.

import pandas as pd
import numpy as np

# Define the dictionary data
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily','Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
             'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
             'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
             'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
# Define the index labels
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

# Create a DataFrame
df = pd.DataFrame(exam_data, index=labels)

# Display the DataFrame
print(df)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

df = pd.DataFrame(exam_data, index=labels)

df = pd.DataFrame(exam_data)

In [ ]:
#ii) Change the name 'James' to 'Suresh'

# Change the name 'James' to 'Suresh'
df["Name"] = df["name"].replace("James", "Suresh")

# Display the updated DataFrame
print(df)

        name  score  attempts qualify       Name
a  Anastasia   12.5         1     yes  Anastasia
b       Dima    9.0         3      no       Dima
c  Katherine   16.5         2     yes  Katherine
d     Suresh    NaN         3      no     Suresh
e      Emily    9.0         2      no      Emily
f    Michael   20.0         3     yes    Michael
g    Matthew   14.5         1     yes    Matthew
h      Laura    NaN         1      no      Laura
i      Kevin    8.0         2      no      Kevin
j      Jonas   19.0         1     yes      Jonas

In [ ]:
#iii) Insert a new column

df['age'] = [20, 21, 19, 22, 20, 21, 19, 22, 20, 21]

# Display the updated DataFrame
print(df)

        name  score  attempts qualify       Name  age
a  Anastasia   12.5         1     yes  Anastasia   20
b       Dima    9.0         3      no       Dima   21
c  Katherine   16.5         2     yes  Katherine   19
d     Suresh    NaN         3      no     Suresh   22
e      Emily    9.0         2      no      Emily   20
f    Michael   20.0         3     yes    Michael   21
g    Matthew   14.5         1     yes    Matthew   19
h      Laura    NaN         1      no      Laura   22
i      Kevin    8.0         2      no      Kevin   20
j      Jonas   19.0         1     yes      Jonas   21

In [ ]:
#iv) Get list from DataFrame column headers

columns = df.columns.tolist()

# Display the list of column headers
print(columns)

['name', 'score', 'attempts', 'qualify', 'Name', 'age']

In [ ]:
#v) Get the data type of each column

dtypes = df.dtypes

# Display the data types
print(dtypes)

name         object
score       float64
attempts      int64
qualify      object
Name         object
age           int64
dtype: object